

#form-bienvenida{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contenedor-img{
text-align: center;
}

.img-bienvenida{
width: 40%;

}

.header-titulo{
text-align: center;
font-size: 35px;
font-family: 'Roboto', sans-serif;
margin: 20px;
color:#5f5040;

}

.input-nombre{
  width: 70%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #5f5040;
}