

#form-bienvenida{
  display: flex;
  flex-direction: column;
}

.contenedor-img{
text-align: center;
}

.img-bienvenida{
width: 30%;
border: 1px solid red;
}

.header-titulo{
text-align: center;
font-size: 30px;
font-family: 'Roboto', sans-serif;
color: blue;

}